<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.dao.FiletoaceptMapper" >
  <resultMap id="BaseResultMap" type="com.hx.model.Filetoacept" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="dispatcher_id" property="dispatcher_id" jdbcType="INTEGER" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="filesaving" property="filesaving" jdbcType="VARCHAR" />
    <result column="readunread" property="readunread" jdbcType="INTEGER" />
    <result column="receiver_id" property="receiver_id" jdbcType="INTEGER" />
  </resultMap>
<!--收发-->
  <select id="listFileToAceptMsg" resultMap="BaseResultMap"  parameterType="java.lang.Integer">
	select l.name,t.id,t.filename,t.filesaving,t.readunread from filetoacept t,login l where t.dispatcher_id=l.id and t.receiver_id=#{receiverid,jdbcType=INTEGER}  ORDER BY t.readunread desc

  </select>
  <select id="listFileToAceptMsgStauts" resultMap="BaseResultMap"  parameterType="java.lang.Integer">
	select * from filetoacept t where t.receiver_id=#{receiverid,jdbcType=INTEGER} AND readunread=2 ORDER BY dispatcher_id desc
  </select>


<insert id="insertFtc" parameterType="com.hx.model.Filetoacept">
  INSERT INTO filetoacept
  <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="dispatcher_id != null and dispatcher_id != ''">
      dispatcher_id,
    </if>
    <if test="filename != null and filename != ''">
      filename,
    </if>
    <if test="filesaving != null and filesaving != ''">
      filesaving,
    </if>
    <if test="receiver_id != null and receiver_id != ''">
      receiver_id,
    </if>
    <if test="readunread != null and readunread != ''">
      readunread,
    </if>
  </trim>
  <trim prefix=" values (" suffix=")" suffixOverrides=",">
    <if test="dispatcher_id != null and dispatcher_id != ''">
      #{dispatcher_id,jdbcType=INTEGER},
    </if>
    <if test="filename != null and filename != ''">
      #{filename,jdbcType=VARCHAR},
    </if>
    <if test="filesaving != null and filesaving != ''">
      #{filesaving,jdbcType=VARCHAR},
    </if>
    <if test="receiver_id != null and receiver_id != ''">
      #{receiver_id,jdbcType=INTEGER},
    </if>
    <if test="readunread != null and readunread != ''">
      #{readunread,jdbcType=TINYINT},
    </if>
  </trim>
</insert>
  <update id="updateReadunread" parameterType="java.lang.Integer">
    UPDATE filetoacept SET readunread=1 WHERE id=#{id,jdbcType=INTEGER}
  </update>

  <select id="selectReCount" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    SELECT COUNT(*) FROM filetoacept WHERE receiver_id=#{id,jdbcType=INTEGER}
  </select>
  <select id="selectUrl" resultType="java.lang.String" parameterType="java.lang.Integer">
    SELECT filesaving FROM filetoacept WHERE id =#{id,jdbcType=INTEGER}
  </select>
</mapper>