<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.dao.FiletoaceptMapper" >
  <resultMap id="BaseResultMap" type="com.hx.model.Filetoacept" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="dispatcher_id" property="dispatcher_id" jdbcType="INTEGER" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="filesaving" property="filesaving" jdbcType="VARCHAR" />
    <result column="readunread" property="readunread" jdbcType="INTEGER" />
    <result column="getfileid" property="getfileid" jdbcType="INTEGER" />
    <result column="receiver_id" property="receiver_id" jdbcType="INTEGER" />
  </resultMap>
<!--收发-->
  <select id="listFileToAceptMsg" resultMap="BaseResultMap"  parameterType="java.lang.Integer">
	select * from filetoacept t where t.receiver_id=#{receiverid,jdbcType=INTEGER}  ORDER BY dispatcher_id desc
  </select>

  <!--收发-->
  <select id="listFileToAceptMsg" resultMap="BaseResultMap">
	select * from filetoacept t where t.receiver_id=#{receiverid,jdbcType=INTEGER}  and t.readunread = #{readunread,jdbcType=INTEGER}
  </select>
</mapper>