<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>人员登记</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Pace -->
    <link rel="stylesheet" href="../../plugins/pace-master/themes/blue/pace-theme-flash.css">
    <script type="text/javascript" src="../../plugins/pace-master/pace.min.js"></script>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../dist/css/ionicons.min.css">
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../../dist/css/skins/all-skins.min.css">
    <link rel="stylesheet" href="../../dist/css/receipt.css">
    <link rel="stylesheet" href="../../dist/css/entryandexit_registration.css">
    <link rel="stylesheet" href="../../dist/css/datepicker.css">
</head>

<body class="hold-transition skin-blue sidebar-mini">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <small></small>
        </h1>
        <!--
         <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>公文管理</a>
            </li>
            <li>
                <a href="#">明传电报</a>
            </li>
            <li>
                <a href="#">发文</a>
            </li>
        </ol>
       -->
    </section>

    <!-- Main content -->
    <section class="content">
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" style="width:1200px;margin:0 auto;"  id="table-form">
                <div class="box-body">
                    <div class="borders  box-body" >  
                        <div class="form-group col-md-12  text-center">
                            <font style="vertical-align: inherit;font-size:18px;"><b>发文审批信息</b></font>
                        </div>
                        <table class="table-form">
                            <tr>
                                <td>
                                    <label for="facilityApplicationnetwork" >标题：</label>
                                    <input type="text" name="facilityApplicationnetwork" placeholder="请输入标题">
                                </td>
                                <td>
                                    <label for="facilityDevicelocation" >文种：</label>
                                    <input type="text" name="facilityDevicelocation" placeholder="请输入文种">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="facilityDevicelocation">主送：</label>
                                    <input type="text" name="facilityDevicelocation" placeholder="请输入主送">
                                </td>
                                <td class="selecttd" style="width: 400px;">
                                    <label for="exitWhetherclassified">抄送：</label>
                                    <input type="text" name="facilityDevicelocation" placeholder="请输入抄送">
                                </td>
                                
                           </tr>
                            <tr>
                                <td class="selecttd" style="width: 400px;">
                                    <label for="exitWhetherclassified">密级：</label>
                                    <div class="selectes">
                                        <select class="" name="exitWhetherclassified" id="exitWhetherclassified">
                                            <option value="内部">内部</option>
                                            <option value="无密">无密</option>
                                            <option value="外部">外部</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="selecttd" style="width: 400px;">
                                    <label for="exitWhetherclassified">加急：</label>
                                    <div class="selectes">
                                        <select class="" name="exitWhetherclassified" id="exitWhetherclassified">
                                            <option value="加急">加急</option>
                                        </select>
                                   </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="facilityApplicationnetwork" >加急原因：</label>
                                    <input type="text" name="facilityApplicationnetwork" placeholder="请输入加急原因">
                                </td>
                                <td>
                                    <label for="facilityDevicelocation" >发文部门：</label>
                                    <input type="text" name="facilityDevicelocation" placeholder="请输入发文部门">
                                </td>
                            </tr>
                            
                                <tr>
                                    <td>
                                        <label for="" >拟稿人：</label>
                                        <input type="text" name="" placeholder="请输入拟稿人" >
                                    </td>
                                    <td>
                                        <label for="" >拟稿人电话：</label>
                                        <input type="text" name="" placeholder="请输入拟稿人电话" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="" >拟稿日期：</label>
                                        <input type="text"autocomplete="off" class="briths" name="" placeholder="请输入拟稿日期">
                                    </td>
                                    <td>
                                        <label for="" >需要反馈日期：</label>
                                        <input type="text"autocomplete="off" class="briths" name="" placeholder="请输入反馈日期">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="" >关键词(录入)：</label>
                                        <input type="text" name="" placeholder="请输入关键词">
                                    </td>
                                    <td>
                                        <label for="" >关键词(自动识别)：</label>
                                        <input type="text" name="" placeholder="请输入关键词">
                                    </td>
                                </tr>
                                <tr class="tab-sign">
                                    <td>
                                        <label>部门领导签发：</label>
                                        <div></div>
                                    </td>
                                    <td>
                                        <label>部门领导审批：</label>
                                        <div></div>
                                    </td>
                                </tr>
                                
                          
                        </table>
                    </div>                  
                </div>
            </form>
                <!-- /.box-body -->
                <div class="box-footer" id="boxFooter" style="text-align:center;">
                    <button type="button" class="btn btn-default ">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">取消</font>
                        </font>
                    </button>
                    <button type="button" id="renderPdf" class="btn btn-default ">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">生成PDF格式</font>
                        </font>
                    </button>
                    <button type="button" onclick="device_submits()" class="btn btn-info">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">保存</font>
                        </font>
                    </button>
                </div>
                <!-- /.box-footer -->
            

    </section>
    <script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../plugins/fastclick/fastclick.js"></script>
    <script src="../../dist/js/app.min.js"></script>
    <script src="../../dist/js/demo.js"></script>
    <!-- date-range-picker -->
    <script src="../../bower_components/moment/min/moment.min.js"></script>
    <script src="../../bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="../../dist/pagejs/datepickers.js"></script>
    <!-- 生成PDF插件 -->
    <script src="../../dist/js/html2canvas.js"></script>
    <script src="../../dist/js/jsPdf.debug.js"></script>
    <script src="../../dist/js/pdfjs.js"></script>
</body>

</html>